body {
  background-color: hsl(210, 46%, 95%);
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  padding: 15% 20%;
  position: relative;
  margin: 0;
}
h1 {
  color: hsl(217, 19%, 35%);
  font-size: 22px;
}
p {
  color: hsl(214, 17%, 51%);
}
/***************************** FULL PREVIEW *****************************/
.full-preview {
  height: 300px;
  display: flex;
}
.img-box {
  width: 40%;
  height: auto;
}
.article-img {
  border-radius: 10px 0 0 10px;
  object-fit: cover;
  height: 100%;
  display: block;
}
.content {
  border-radius: 0 10px 10px 0;
  padding: 30px 50px;
  background-color: white;
  width: 60%;
}
.profile {
  display: flex;
  position: relative;
  width: 85%;
  margin-top: 20px;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}
.name-date {
  display: block;
}
.profile-name,
.date {
  margin: 0 0 0 10px;
}
.profile-name {
  font-weight: 700;
}
.icon-circle {
  background-color: hsl(210, 46%, 95%);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  position: relative;
  left: 92%;
  bottom: 12%;
}

/***************************** FOOTER *****************************/
footer {
  position: absolute;
  bottom: 0;
  width: 60%;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/***************************** MEDIA *****************************/

@media (max-width: 1280px) {
  body {
    padding: 7% 12%;
  }
  footer {
    width: 76%;
  }
}
@media (max-width: 1080px) {
  .content {
    padding: 15px 25px;
  }
}

@media (max-width: 768px) {
  .full-preview {
    height: auto;
    display: block;
  }
  .img-box {
    width: auto;
    height: 40%;
  }
  .article-img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: auto;
  }
  .content {
    border-radius: 0 0 10px 10px;
    padding: 10px 20px;
    width: auto;
  }
  .icon-circle {
    bottom: 33px;
  }
}
